{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <dr></dr>
    <h3 class="display-8">FPTU Attendance Application</h3>

    <p>
        Students click on the [Face Recognition App] button to use the camera to recognize their faces.
         After successful recognition, the application will display [you have successfully checked in].
    </p>
    <img src="/static/images/002.png" class="img-fluid" width="1000" alt="">
    <a class="btn btn-primary" href="/app/name">Face recognition App</a>

{% endblock %}